.home {
     background-image: url(/images/emilia-home.jpg);
     background-size: 79%;
     background-repeat: no-repeat;
     background-position: right top;
     
}

/* header */

.home header {
    margin-left: 30px;
    display: block;
} 

.home header nav ul li {

    margin: 10px 0;
}

.home header nav ul li a {
    color: gray;
}

/* main */

.home h1 {
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 300px;
}

.home h2 {
    font-family: 'Open Sans';
    
    margin-left: 30px;
    margin-top: 220px;
    color: gray;
}
